/* media header ==================================================================================== */

@media (max-width: 480px) {
    .mobile-hidden {
        display: none !important;
    }
}

/* main bg tarif et films */
/* ====================================================================================== */

* {
    margin: 0;
    padding: 0;
}

.main {
    text-align: center;
}

.background-image {
    background-image: url('./starter_exo_fin_module_3/assets/images/ad.png');
    background-size: cover;
    color: white;
    padding: 50px;
    margin: 10px 100px;
}

.section1 {
    display: flex;
    justify-content: space-around;
    margin: 0px 94px;
}

.cell1 {
    width: 49%;
    background-color: #186cb0; 
    padding: 10px;
    text-align: center;
}

.cell1 a {
    color: white;
    text-decoration: none;
    display: block;
    height: 100%;
}

/* main tarifs abonnement */
/* ========================================================================================== */

.gray-cell1 {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto 20px;
    background-color: #ECECEC;
    padding: 2px;
}


.gray-cell2 {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto 20px;
    background-color: #ECECEC;
    padding: 2px;
}


.cell2 {
    padding: 20px;
    margin: 0px 0 0 80px;
}

.cell2 span {
    color: #186cb0;
    font-weight: bold; 
}

span{
    font-weight: bold;
}

/* main films ==================================================================================================== */

.gray-cell3 {
    width: 85%;
    margin: 0 auto 20px;
    background-color: #ECECEC;
    padding: 2px;
}


.gray-cell4 {
    width: 85%;
    margin: 0 auto 20px;
    background-color: #ECECEC;
    padding: 2px;
}

.cell3 {
    padding: 20px;
    margin: 0px 0 0 80px;
}

.cell3 span {
    color: #186cb0;
    font-weight: bold; 
}

.gray-cell3 img, .gray-cell4 img {
    width: 100px;
    margin: 10px;
}

.image-container {
    display: flex;
}

.gray-cell3 p {
    margin: 5px ;
}

.gray-cell4 p {
    margin: 5px ;
}

.new-cell1 {
    padding: 10px;
    background-color: #C4C4C4;
}

.new-cell2 {
    padding: 10px;
    background-color: #C4C4C4;
}

.blue-cell1 , .blue-cell2 , .blue-cell3 , .blue-cell4 , .blue-cell5 {
    background-color: #186cb0;
    color: white;
    padding: 20px;
    margin: 5px;
    border-radius: 5px;
}

.new-cell1 , .new-cell2 {
    display: flex;
    align-items: center;
}

/* banniere pub ====================================================================================================== */

.ad-banner {
    background-color: yellow;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.ad-content {
    display: flex;
    justify-content: space-between;
}

.close-btn {
    cursor: pointer;
    font-weight: bold;
    margin: 10px;
}

.ad-content p {
    margin: 10px ;
    
}